body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden; /* Impede a rolagem horizontal indesejada */
  }
  
  header {
    background-color: #111;
    padding: 20px;
    text-align: center;
  }
  
  input[type="text"] {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    width: 300px;
  }
  
  #carrossel-container {
    width: 100%; /* Full width */
    overflow: hidden; /* Clip overflowing content */
    position: relative; /* Needed for proper positioning of controls (optional) */
  }
  
  #carrossel {
    display: flex; /* Arrange slides horizontally */
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 20%; /* Each slide occupies 20% width */
    margin: 10px; /* Adjust spacing between slides */
    background-color: #333;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .slide:hover {
    transform: scale(1.05);
  }
  
  .slide img {
    width: 100%; /* Fill the slide container */
    height: 300px; /* Set image height */
    object-fit: cover; /* Crop images to fit while maintaining aspect ratio */
    border-radius: 5px;
  }
  
  .slide p {
    margin-top: 10px;
    font-size: 1rem;
    color: #fff;
  }
  
  #searchResults {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem na linha */
    justify-content: space-between; /* Espaço uniforme entre os itens */
    margin: 20px; /* Margem para o contêiner */
  }
  
  .result-item {
    width: calc(33.33% - 20px); /* Cada item ocupa 1/3 da largura com margens */
    margin-bottom: 20px; /* Espaço abaixo de cada item */
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .result-image {
    width: 100%; /* Preenche o contêiner */
    height: auto; /* Mantém a proporção */
    border-radius: 5px;
    margin-bottom: 5px; /* Espaço abaixo da imagem */
  }
  